body {
    background-color: white;
}



nav {
    height: 30px;
    line-height: 30px;
}


#logo-container {
        color: #444;
    font-size: 16px;
    letter-spacing: 2px;
      height: 30px;
    line-height: 30px;
}
p {
    line-height: 2rem;
    font-family: 'Poppins', sans-serif;
}


/* jumps icons down from bg image 1 */

.jump {
    padding-top: 400px;
}


/* PARALLAX  */

.parallax-container {
    min-height: 400px;
    line-height: 0;
    height: auto;
/*    what is this color? */
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}


/* GLOBAL / THEME */

h1,
h2,
h3 {
    font-family: "Libre Baskerville", serif;
}

a,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 28px;
}

h6 {
    font-size: 12px;
}

.cta {
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    color: #000000;
    font-size: 13px;
    margin: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #000000 2px;
    text-decoration: none;
}

.cta:hover {
    background: #f7f7f7;
    text-decoration: none;
}

.cta_contact {
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    color: #000000;
    font-size: 13px;
    border: solid #000000 2px;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
}

.cta_contact:hover {
    background: #f7f7f7;
    text-decoration: none;
}


/* ABOUT SECTION */

.img-circle {
    border-radius: 50%;
}


/* PROFECIANCIES SECTION */


/* CASE STUDIES SECTION */

.carousel .carousel-item {
    width: 15px !important;
}

.case {
    margin-bottom: -60px;
}


/* PROJECTS SECTION */

.tiles {
    height: 150px;
    width: 150px;
    padding: 5px;
}


/* CONTACT SECTION */


/* .map {
    height: 200px;
    margin: -50px;
} */


/* FOOTER */

/* footer text */
.footer-copyright {
/*    height: 50px;*/
    background-color: white;
       color: #000000;
      height: 16px; 
    
}

/* main footer div */
.page-footer {
    background-color: white;
       color: #000000;
     height: 30px; 
}

footer.page-footer {
    margin: 0;
      background-color: white;
       color: #000000;
}



/* INACTIVE */


/* .timeline_center {
    margin: 50px 0 0 0;
} */


/* MEDIA QUERIES */

/*
@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}
*/

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}


/* mobile view icon  */

.button-collapse {
    color: white;
}

.proj {
    margin-bottom: 40px;
}


.profs{
  margin-bottom: 40px;   
}


.proj_grid {
        margin-bottom: 40px;
        margin-top: 60px;
}


.test {
/*    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)*/
}


.case_margin{
      margin-bottom: 40px;   
}

    